{% extends "base.twig" %}

{% block title %}Product Catalog{% endblock %}

{% block content %}

    <br><br>
    <div class="container">
        <a class='btn btn-primary ' href='/products/show' role='button'>Show all Products </a>
        <a class='btn btn-primary ' href='/products/add' role='button'>Add Product</a>
        <a class='btn btn-primary ' href='/products/filter' role='button'>Show Products by category</a>
    </div>


{% endblock %}